# <center> Python Tutorial Session 2a </center>

## What we covered in our previous session:
- Print/Input 
- Variables
- Function
- Loop
- List
- Dictionary
- Set
- String Manipulation

## <font color=green>Table of Contents IIa </font>
 - [Error Types and Error Handling](#errors)
 - [List Comprehension](#listcomp)
 - [Dictionary Comprehension](#Dictionarycomp)
 - [Lambda Functions](#LambdaFunc)
 - [Importing Modules](#Import)
 - [The Math module](#math)

We are going to cover some of these intermediate concepts today.  

<b> Data Analysis and Scientific Packages will not be covered today.  There will be a different class. </b>

List Comprehension and Dictionary Comprehension allow us to generate new lists and Dictionaries using a more compact syntax.

## <a id="errors"> Different Error Types </a>

Depending on the errors in your script, python generates/displays different error messages.  This can be helpful for debugging your script.

#### <b> Syntax Error </b>
This occurs when you do not follow the syntax/rule of the command that you are using.  A good example of this is using the print function without the parenthesis.  In this case, the error output also lets you know that you forgot the parenthesis.

In [1]:
print "Hello World"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (796388850.py, line 1)

The next common error that can occur is an index error.  Suppose your list has 10 numbers, and you try to print the 11th index, this results in an index error, as follows.  The output lets you know that the list index is out of range.

In [2]:
a=[1,2,3,4,5]
print(a[5])

IndexError: list index out of range

Key Error is thrown when a key is not found in a dictionary.

In [3]:
dict_a={"a":"a","b":"b","c":"c","d":"d"}
print(dict_a['h'])

KeyError: 'h'

TypeError is thrown when the types don't match.  For example, one value is string, while the other is a float or integer.

In [8]:
"a"+3

TypeError: can only concatenate str (not "int") to str

A value error is thrown when an argument to a function is of inappropriate type.  Here we tried converting "apple" to integer using the int() function.  This will not work.  Also, if you pass a list to a dictionary, that will generate a value error as well.

In [9]:
int("apple")

ValueError: invalid literal for int() with base 10: 'apple'

In [10]:
dict([1,2,3])

TypeError: cannot convert dictionary update sequence element #0 to a sequence

There is division by 0 error, which occurs when you divide by 0, as the name implies.

In [11]:
3/0

ZeroDivisionError: division by zero

How do we handle errors in python?

The try-except statements can be used to handle different error types. 

The way it works is, the program first tries to execute the try block.  If there are no errors, the value of j is set to True, and the loop ends.  On the other hand, if your number is a 0, then it generates a ZeroDivisionError.  This then prints the appropriate message(i.e. the number cannot be 0).  On the other hand, if the number you input is of an incorrect type, this generates a ValueError.  Note that there can be many except blocks.

In [14]:
j=False
while(j==False):
    try:
        j=int(input("Enter a number: "))
        print(10/j)
        j=True
    except ZeroDivisionError:
        print("The number cannot be 0")
    except ValueError:
        print("The number is not an integer")

Enter a number:  3

3.3333333333333335

We can extend the try except block by also including the "else" and "finally" blocks. The else block is executed if there are no error messages.  The "finally" block is executed regardless of the error message.  Let's extend the code above to include these two blocks.

In [15]:
j=False
ct=0
while(j==False):
    try:
        j=int(input("Enter a number: "))
        k=(10/j)
    except ZeroDivisionError:
        print("The number cannot be 0")
    except ValueError:
        print("The number is not an integer")
    else:
        j=True
        print(k)
    finally:
        ct=ct+1
        print(f"Iteration # {ct}")

Enter a number:  "1"

The number is not an integer
Iteration # 1

Enter a number:  0

The number cannot be 0
Iteration # 2

Enter a number:  3

3.3333333333333335
Iteration # 3

There are many other error types generated by Python, which I have not listed here.  If you google "different error types in python" there are many hits.

There is also a raise command if you want to raise an error message.  Suppose you want the values to be greater than 3, but it is less than 3.  You can raise an appropriate error message.

In [20]:
j=int(input("What is the value of x? "))
if(j<3 and j>=1):
    raise SyntaxError("The value is less than 3")
if(j<0):
    raise TypeError("negative value not allowed.")

What is the value of x?  0

## <a id="listcomp"> List Comprehension </a>
A list comprehension is basically a way to use a loop and conditions within square ([]) brackets.  
In other words, it is a way to quickly loop through a list and generate a new list that meets certain criteria.
A list comprehension follows the following syntax, and it is within a square bracket:

<i> <b>[Expression for item in iterable if condition] </i></b>

The Expression can be the same variable as item, but it can be something else.

An iterable can be a string, a tuple, or any other iterable that you can think of.

In [21]:
j=[i for i in range(10)]
print(j)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Obviously, there is a different way to generate a list without relying on list comprehension.

In [22]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Which is a bit more compact than the list comprehension above. Let's first look at how to generate  even number from 1 to 10 using a traditional for loop.

In [23]:
for i in range(1,11):
    if i%2==0:
        print(i)

2
4
6
8
10

Here is a more compact way by using list comprehension.

In [24]:
[j for j in range(1,11) if j%2==0]

[2, 4, 6, 8, 10]

How about prime number.

In [25]:
[j for j in range(1,20) if 0 not in [j%k for k in range(2,j)]]

[1, 2, 3, 5, 7, 11, 13, 17, 19]

It is also easy to make a script that print non-prime numbers as follows.

In [26]:
[j for j in range(20) if 0 in [j%k for k in range(2,j)]]

[4, 6, 8, 9, 10, 12, 14, 15, 16, 18]

Here, the second nested loop comprehension tests to see if each value of j is divisible by a number >1.

What if want to convert each value in a list to a string.  The following will not work.

In [27]:
a=[1,2,3,4,5]
b=str(a)
b

'[1, 2, 3, 4, 5]'

This can be done in a single line using list comprehension

In [28]:
[str(j) for j in a]

['1', '2', '3', '4', '5']

Some other examples.  Repeat a number or character multiple times

In [29]:
print([1 for i in range(10)])
print(['orange' for i in range(5)])

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
['orange', 'orange', 'orange', 'orange', 'orange']

## <a id="Dictionarycomp">Dictionary Comprehension </a>

Dictionary Comprehensions are similar to List Comprehensions, except that it creates a dictionary rather than a list.

The syntax is:

<b></i>{key:value for (key,value) in iterable} </b></i>

A basic example of this:

In [30]:
{key:value for (key,value) in ((1,2),(3,4),(5,6))}

{1: 2, 3: 4, 5: 6}

We can combine this we zip as follows:

In [31]:
keys=['fruit','vegetable']
values=[['apple','banana','mango'],['spinach','broccoli','asparagus']]
new_dict={keys:values for (keys,values)in zip(keys,values)}
print(new_dict)
print(new_dict['fruit'])

{'fruit': ['apple', 'banana', 'mango'], 'vegetable': ['spinach', 'broccoli', 'asparagus']}
['apple', 'banana', 'mango']

In [32]:
{key:value[0] for (key,value) in new_dict.items() if value[0]=="spinach" or value[0]=="apple"}

{'fruit': 'apple', 'vegetable': 'spinach'}

The above line creates a new dictionary that maps fruit or vegetable to spinach or apple, and no longer has lists as values

## <a id="LambdaFunc"> Lambda Functions</a>

Lambda functions are anonymous functions.  They do not have a name associated with them.  They can be used for sorting, where we want to specify key to sort by.  Here is an example, where I sort a dictionary.

In [33]:
example_dict={"a":1,
             "b":20,
             "c":9,
             "d":2,
             "e":11}

In [34]:
sorted(example_dict)

['a', 'b', 'c', 'd', 'e']

In [35]:
sorted(example_dict.items())

[('a', 1), ('b', 20), ('c', 9), ('d', 2), ('e', 11)]

In [36]:
dict(sorted(example_dict.items(),key=lambda x:x[1]))

{'a': 1, 'd': 2, 'c': 9, 'e': 11, 'b': 20}

Here, we used an anonymous lambda function to extract the second value of example_dict.items()

It can also be used with the filter and map functions.  First, the filter function.  The filter function requires the first argument to be a function.

In [37]:
a=[1,10,20,40,15]

In [38]:
list(filter(lambda x:x>10,a))

[20, 40, 15]

Obviously, the command above can be done using a list comprehension as well (as was shown before).
We can also use lambda functions with map() as follows.  Using map, we map each value in a list to a function.

In [39]:
list(map(lambda a:a**3,a))

[1, 1000, 8000, 64000, 3375]

In most cases, a list comprehension can do what a filter or map can do, and therefore I feel that these functions don't seem all that useful.

## <a id="Import"> Working with Modules </a>

The import command is used to import different modules, just as we used the library() function in R to import different library.  For example, say that we want to find a square root of a number.  We can import the math module.

In [40]:
import math
import numpy as np
from math import sqrt

In the above examples, to import a module you are interested in, you just specify the name of the module after the import keyword.  If you want to specify a specific function as as sqrt, you can use the "from <module> import <function>" command.

## <a id="math">The math module </a>

I am not going to cover math in big detail, but it can be used for performing operations such as calculating the square root of a number, extracting the value of pi, the power function, etc. It can also deal with trigonometry (cos, sign, etc>.  I use the dir command to print the different functions available in the math module.

In [41]:
import math
print(math.sqrt(4))
print(math.pi)
print(math.pow(10,2))
dir(math)

2.0
3.141592653589793
100.0

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [42]:
sqrt(20)

4.47213595499958

Because we imported the sqrt function from math, we no long have to use "math.sqrt) to call the function.

In [43]:
print(math.e**math.log(10))

10.000000000000002

Let's also try the ceil funtion.

In [44]:
math.ceil(3.5)

4

In [45]:
math.ceil(3.1)

4

In [46]:
math.floor(3.1)

3

The ceil function prints the ceiling, while the floor function prints the floor. The ceiling of 3.1 is 4, while the floor is 3.